.header {
  background-color: white;
}

/* #hero-container{
  background-color: antiquewhite;
  border: 1px solid red;
} */

.hero-details{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-name{
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
}

.hero-specs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}